.container_quote {
    animation: fadein 750ms linear forwards;
    padding: 1em 5em;
    height: 100vh;
    background: linear-gradient(to bottom, #fff 0%, #8be3f3 100%);
    background-size: cover;
    background-repeat: repeat;
}

.imageContainer {
    position: relative;
    display: inline-block;
    margin: 1em; /* Added to separate images */
}
h1{
    text-align: center;
}
.singleImg:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.image {
    width: 400px; /* Adjusted to fit container width */
    height: auto; /* Maintain aspect ratio */
    transition: box-shadow 0.3s ease;
}

.content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; /* Adjusted for better spacing */
    gap: 1em; /* Added gap for better spacing */
}

.icon {
    position: absolute;
    top: 10px; /* Distance from top */
    left: 10px; /* Distance from left */
    display: flex;
    flex-direction: column;
    gap: 0.5em; /* Space between icons */
    color: white;/* Added gap between icons */
}

.download {
    top: auto; /* Override top */
    bottom: 10px; /* Distance from bottom */
    left: 10px; /* Distance from left */
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
